*{
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-flow: column nowrap;
}
.content {
  margin-left: 5%;
  margin-right: 5%;
}
div img{
  border: 1px solid lightgrey;
}
.main{
  width: 75%;
  padding-right: 1%;
}
.sub{
  width: 25%;
}
section{
  margin-top: 1%;
  margin-bottom: 1%;
}

header{
  background: white;
  border: 1px solid white;
  border-bottom-color: lightgrey;
  width: 100vw;
  position: fixed;
  top: 0;
  left:0;
}
header #menuBox{
  border: 1px solid white;
  border-right-color: lightgrey;
}
nav#bar{
  padding: 1%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
nav #list ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav #list ul li{
  margin-left: 5px;
  margin-right: 15px;
}
#logo{
  width: 300px
}
/*InterviewDirectory */

.side{
  display: flex;
  flex-direction: row;
  overflow: auto;
}




